@charset "UTF-8";

@font-face { 
	font-family: BopomofoRuby;
	src: url(BopomofoRuby1909-v1-Regular.ttf);
}

.dummy2 { line-height:1; font-size:5em;
 font-family: BopomofoRuby, 'AR KaiB5', 'KaiTi TW', '標楷體';
}

.dummy2 ruby {  }

.dummy2 rt { font-family:BopomofoRuby; min-width:1em; }

.tb { writing-mode:tb-rl; }

.v { line-height: 1.1; }
.v ruby {
	writing-mode: vertical-lr;
	-webkit-writing-mode: vertical-lr;
	-moz-writing-mode: vertical-lr;
	text-orientation: upright;
}
.v rt { letter-spacing:0; }

.h
{
  font-variant-east-asian: salt;
  -moz-font-feature-settings: "salt";
  -webkit-font-feature-settings: "salt";
  font-feature-settings: "salt";
}
.h ruby { padding:0; line-height: 1.5; }
.h rt { letter- spacing:-0.4em; }
 

/*  */

 ruby { padding-right: 2px;
 background: url(bg2.gif); background-size: contain; background-repeat: no-repeat;
 margin: 0.1em; margin-right:0.2em; }
 
 rt {
    font-size: 26%;
    ruby-align: center;
    text-align: center;	/* chrome */
    text-orientation: upright;
}

 label { border:1px dashed #888; padding:2px; line-height:200%; font-family:標楷體; white-space:nowrap; }
 label:hover { background:#ffc; }
 label:checked, input[type="radio"]:checked { color:red; }
  
 textarea { width:100%; }
 ol>li { padding:2px; }
 ol>li:hover { border:1px solid blue; padding:1px; }

#editor { max-width:50vw; }
#phonA { max-height:95vh; overflow:auto; }