.footer_top_bg {
    display: block;

    path {
        fill: $footer_bg;
    }
}

footer {
    padding: 35px 0px;
    background-color: $footer_bg;

    .footer_logo {
        width: 80%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        margin-bottom: 35px;

        img {
            width: 40%;
        }
    }

    .footer_information {
        width: 80%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        margin-bottom: 35px;

        .information {
            a {
                color: $brown;
            }
        }

        .products {
            display: flex;
            align-items: center;

            p {
                color: $brown;
                margin: 0 15px;
            }

            .products_logo {
                display: flex;

                img {
                    height: 65px;
                    width: auto;
                    margin: 0 15px;
                }
            }
        }
    }

    .footer_copyright {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 10% 0px;
        border-top: 1px solid $brown;
        color: $brown;

        a {
            color: $brown;
            font-size: 12px;
        }

        p {
            color: $brown;
            font-size: 12px;
        }
    }
}

@media screen and (max-width: 1200px){
    footer {
        .footer_information {
            flex-direction: column;

            .products {
                margin-top: 20px;

                p {
                    margin: 0 15px 0 0;
                }
            }
        }
    }
}

@media screen and (max-width: 1024px){
    footer {
        .footer_information {
            .products {
                flex-wrap: wrap;

                p {
                    width: 100%;
                    margin: 15px 0px 5px;
                }

                .products_logo {
                    img {
                        margin: 0 15px 0 0;
                    }
                }

            }

        }

        .footer_copyright {
            flex-direction: column;
            align-items: flex-start;

            div {
                margin-bottom: 5px;
            }
        }
    }

}

@media screen and (max-width: 768px){
    footer {
        padding: 20px 0px;

        .footer_logo {
            margin-bottom: 15px;

            img {
                width: 45%;
            }
        }

        .footer_information {
            margin-bottom: 20px;

            .products {
                margin-top: 10px;

                .products_logo {
                    flex-wrap: wrap;
                    justify-content: flex-start;

                    img {
                        margin: 10px 12px 10px 0;
                        height: 45px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 499px){
    footer {

        .footer_information {
            .products {

                .products_logo {

                    img {
                        margin: 10px 15px 10px 0;
                        height: 30px;
                    }
                }
            }
        }
    }
}