.main.booklist {
    width: 80%;
    @extend %max1200;


    .booklist_introduce {
        .booklist_introduce_button {
            margin: 20px 0px;

            a {
                color: $main_color;
                border: 1px solid $main_color;
                border-radius: 10px;
                padding: 5px 10px;

                &:hover {
                    color: $white;
                    background-color: $main_color;
                }
            }
        }
    }

    .book_area {
        margin: 80px auto 130px;
    
        .book_area_menu {
            display: flex;
            flex-wrap: wrap;
            z-index: 3;
            background-color: $body_bg;
            border-bottom: 1.5px solid $main_color;
            position: sticky;
            top: 0px;
    
            .book_selection {
                margin: 15px 15px 15px 0px;
    
                a {
                    border: 1px solid;
                    border-radius: 10px;
                    padding: 5px 10px;
                    cursor: pointer;
                }
    
                &.first_grade_selection {
                    a {
                        color: $first_grade_color;
                        border-color: $first_grade_color;
    
                        &:hover {
                            color: $white;
                            background-color: $first_grade_color;
                        }
                    }
                }
    
                &.second_grade_selection {
                    a {
                        color: $second_grade_color;
                        border-color: $second_grade_color;
    
                        &:hover {
                            color: $white;
                            background-color: $second_grade_color;
                        }
                    }
                }
    
                &.third_grade_selection {
                    a {
                        color: $third_grade_color;
                        border-color: $third_grade_color;
    
                        &:hover {
                            color: $white;
                            background-color: $third_grade_color;
                        }
                    }
                }
    
                &.fourth_grade_selection {
                    a {
                        color: $fourth_grade_color;
                        border-color: $fourth_grade_color;
    
                        &:hover {
                            color: $white;
                            background-color: $fourth_grade_color;
                        }
                    }
                }
    
                &.fifth_grade_selection {
                    a {
                        color: $fifth_grade_color;
                        border-color: $fifth_grade_color;
    
                        &:hover {
                            color: $white;
                            background-color: $fifth_grade_color;
                        }
                    }
                }
    
                &.sixth_grade_selection {
                    a {
                        color: $sixth_grade_color;
                        border-color: $sixth_grade_color;
    
                        &:hover {
                            color: $white;
                            background-color: $sixth_grade_color;
                        }
                    }
                }
    
                &.seventh_grade_selection {
                    a {
                        color: $seventh_grade_color;
                        border-color: $seventh_grade_color;
    
                        &:hover {
                            color: $white;
                            background-color: $seventh_grade_color;
                        }
                    }
                }
    
                &.eighth_grade_selection {
                    a {
                        color: $eighth_grade_color;
                        border-color: $eighth_grade_color;
    
                        &:hover {
                            color: $white;
                            background-color: $eighth_grade_color;
                        }
                    }
                }
    
                &.ninth_grade_selection {
                    a {
                        color: $ninth_grade_color;
                        border-color: $ninth_grade_color;
    
                        &:hover {
                            color: $white;
                            background-color: $ninth_grade_color;
                        }
                    }
                }
            }
        }
    
        .booklist_best_book {
            max-width: none;
            width: calc(95% - 20px);
            position: relative;
            display: flex;
            margin: 0 auto;
            padding: 50px 0px 0px;
        
            .book_list {
                width: calc(100% - 120px);
                display: flex;
                flex-wrap: wrap;
                margin-left: 30px;

                .book_list_title {

                    width: 100%;

                    h3 {
                        text-align: left;
                        margin: calc(45px / 2) 0px 0px 1.3%;
                        display: flex;
                        flex-wrap: wrap;
                        align-items: center;
                        span{
                            padding: 0 5px;
                            border-right: 1px solid;
                            &:nth-last-child(1){
                                border-right: 0px solid;
                            }
                        }
                    }
    
                    &.first_grade_book_list {
                        h3,span {
                            color: $first_grade_color;
                        }
                    }
        
                    &.second_grade_book_list {
                        h3,span {
                            color: $second_grade_color;
                        }
                    }
        
                    &.third_grade_book_list {
                        h3,span {
                            color: $third_grade_color;
                        }
                    }
        
                    &.fourth_grade_book_list {
                        h3,span {
                            color: $fourth_grade_color;
                        }
                    }
        
                    &.fifth_grade_book_list {
                        h3,span {
                            color: $fifth_grade_color;
                        }
                    }
        
                    &.sixth_grade_book_list {
                        h3,span {
                            color: $sixth_grade_color;
                        }
                    }
        
                    &.seventh_grade_book_list {
                        h3,span {
                            color: $seventh_grade_color;
                        }
                    }
        
                    &.eighth_grade_book_list {
                        h3,span {
                            color: $eighth_grade_color;
                        }
                    }
        
                    &.ninth_grade_book_list {
                        h3,span {
                            color: $ninth_grade_color;
                        }
                    }
                }

                .book_list_swiper_area{
                    width: 100%;
                    position: relative;
                    margin-top: 60px;
                    .swiper{
                        height: auto;
                        .swiper-wrapper{
                            display: flex;
                            margin-top: 20px;
                            height: auto;
                            a {
                                position: relative;
                                background: $white;
                                display: flex;
                                flex-direction: column;
                                align-items: center;
                                border-radius: 10px;
                                overflow: hidden;
                                transform: scale(0.95);
                                @extend %boxShadow_gray;
                
                                &:hover {
                                    transform: scale(0.98);
                                }
                
                                .book_content {
                                    width: 80%;
                                    margin: 0px auto;
                                    padding: 15px 0px;
                
                                    h4 {
                                        color: $brown;
                                        overflow: hidden;
                                        white-space: nowrap;
                                        text-overflow: ellipsis;
                                        display: -webkit-box;
                                        -webkit-line-clamp: 2;
                                        -webkit-box-orient: vertical;
                                        white-space: normal;
                                        width: 100%;
                                        margin-bottom: 8px;
                                    }
                
                                    .value {
                                        width: calc(100% - 35px);
                                    }
                                }
                            }
                        }
                    }
                    .swiper-button-next,
                    .swiper-button-prev{
                        width: 45px;
                        height: 45px;
                        border-radius: 50%;
                        color: $white;
                        background-color: $main_color;
                        z-index: 2;
                        right: 0;
                        top: -15px;
                        &::before{
                            content: "";
                            position: absolute;
                            width: calc(100% + 5px);
                            height: calc(100% + 5px);
                            top: 50%;
                            left: 50%;
                            transform: translate(-50% , -50%);
                            border: 1.5px solid $main_color;
                            border-radius: 50%;
                        }
                        &::after{
                            font-size: 30px;
                        }
                    }
                    .swiper-button-next {
                        right: 10px;
                        left: auto;
                    }
                    .swiper-button-prev {
                        right: 10px;
                        left: auto;
                        transform: translate(calc(-100% - 20px), 0%);
                    }

                }
            }
        }
    }

    .level_correspondence_marker {
        align-items: flex-start; //不同

        &:before {
            top: 90px;//不同
            bottom: -90px;//不同
        }

    }

}

@media screen and (max-width: 1200px){
    .main.booklist{
        width: 100%;

        .tittle,
        .booklist_introduce{
            width: 80%;
            margin: 0 auto;
        }

        .book_area{
            width: 100%;

            .book_area_menu {
                padding: 15px 5% 0px;

                .book_selection {
                    margin: 0px 15px 15px 0px;
                }
            }

            .booklist_best_book {        
                .book_list {
                    width: calc(100% - 105px);
                    .book_list_title {
                        h3 {
                            margin: calc(38px / 2) 0px 0px 1.3%;
                        }
                    }
    
                    .book_list_swiper_area{
                        margin-top: 35px;
                        .swiper-button-next,
                        .swiper-button-prev{
                            width: 35px;
                            height: 35px;
                            top: 0px;
                            &::after{
                                font-size: 20px;
                            }
                        }
                    }
                }
            }
        }
        
        .level_correspondence_marker {
            align-items: flex-start; //不同
            position: initial;
        }
    }
}

@media screen and (max-width: 1024px){
    .main.booklist{
        .book_area{
  
            .booklist_best_book {     
                .book_list {
                    width: calc(100% - 90px);
                    margin-left: 15px;
                }
            }
        }

        .level_correspondence_marker {    
            &:before {
                top: 110px;//不同
                bottom: -110px;//不同
            }
        }
    }
}

@media screen and (max-width: 768px){
    .main.booklist{
        .book_area {

            .booklist_best_book {        
                .book_list {
                    width: calc(100% - 65px);

                    .book_list_title {
                        h3 {
                            margin: calc(25px / 2) 0px 0px 1.3%;
                        }
                    }
    
                    .book_list_swiper_area{
                        margin-top: 30px;
                        .swiper-button-next,
                        .swiper-button-prev{
                            width: 30px;
                            height: 30px;
                            &::after{
                                font-size: 15px;
                            }
                        }
                    }
                }
            }
        }
    
    }
}

@media screen and (max-width: 499px){
    .main.booklist{
        .book_area{     
            .book_area_menu  {
                padding: 15px 3px 0px;
            .book_selection {
                margin: 0px 2px 15px 0px;

                a{
                    padding: 5px 2px;
                    font-size: 12px;
                }
            }
        }
  
            .booklist_best_book {     
                .book_list{
                    .book_list_title {
                        h3 {
                            margin: 0px 0px 0px 1.3%;
                        }
                    }

                    .book_list_swiper_area{

                        .swiper {
                            .swiper-wrapper {
                                margin-top: 5px;
                            }
                        }
                        
                        .swiper-button-next,
                        .swiper-button-prev{
                            width: 20px;
                            height: 20px;
                            &::before{
                                width: calc(100% + 3px);
                                height: calc(100% + 3px);
                                border: 1px solid $main_color;
                            }
                            &::after{
                                font-size: 12px;
                            }
                        }
                        .swiper-button-prev {
                            transform: translate(calc(-100% - 10px), 0%);
                        }
    
                    }
                }
                
            }
        }


    }
}