.main.grade {
    width: 80%;

    .chart_area {
        .chart {
            display: flex;
            justify-content: space-between;
            align-items: flex-end;

            .bar {
                width: 10%;
                border-radius: 10px 10px 0px 0px;
                position: relative;
                cursor: pointer;

                p {
                    position: absolute;
                    width: 100%;
                    bottom: 0px;
                    color: $white;
                    text-align: center;
                    padding: 5px 0px;

                    &:before {
                        content: "";
                        width: 0;
                        height: 0;
                        border-left: 16px solid transparent;
                        border-right: 16px solid transparent;
                        border-top: 12px solid transparent;
                        position: absolute;
                        bottom: -10px;
                        left: 0;
                        right: 0;
                        margin: 0 auto;
                        -webkit-transition: all .1s ease-in-out;
                        -moz-transition: all .1s ease-in-out;
                        -o-transition: all .1s ease-in-out;
                        transition: all .1s ease-in-out;
                    }
                }
            }

            .first_grade_background {
                height: calc(70px * 1);
                background-color: $first_grade_color;

                p {
                    background-color: darken($first_grade_color, 15%);

                    &.active {
                        &:before {
                            border-top: 12px solid darken($first_grade_color, 15%);
                        }
                    }
                }
            }

            .second_grade_background {
                height: calc(70px * 1.5);
                background-color: $second_grade_color;

                p {
                    background-color: darken($second_grade_color, 15%);

                    &.active {
                        &:before {
                            border-top: 12px solid darken($second_grade_color, 15%);
                        }
                    }
                }
            }

            .third_grade_background {
                height: calc(70px * 2);
                background-color: $third_grade_color;

                p {
                    background-color: darken($third_grade_color, 15%);

                    &.active {
                        &:before {
                            border-top: 12px solid darken($third_grade_color, 15%);
                        }
                    }
                }
            }

            .fourth_grade_background {
                height: calc(70px * 2.5);
                background-color: $fourth_grade_color;

                p {
                    background-color: darken($fourth_grade_color, 15%);

                    &.active {
                        &:before {
                            border-top: 12px solid darken($fourth_grade_color, 15%);
                        }
                    }
                }
            }

            .fifth_grade_background {
                height: calc(70px * 3);
                background-color: $fifth_grade_color;

                p {
                    background-color: darken($fifth_grade_color, 15%);

                    &.active {
                        &:before {
                            border-top: 12px solid darken($fifth_grade_color, 15%);
                        }
                    }
                }
            }

            .sixth_grade_background {
                height: calc(70px * 3.5);
                background-color: $sixth_grade_color;

                p {
                    background-color: darken($sixth_grade_color, 15%);

                    &.active {
                        &:before {
                            border-top: 12px solid darken($sixth_grade_color, 15%);
                        }
                    }
                }
            }

            .seventh_grade_background {
                height: calc(70px * 4);
                background-color: $seventh_grade_color;

                p {
                    background-color: darken($seventh_grade_color, 15%);

                    &.active {
                        &:before {
                            border-top: 12px solid darken($seventh_grade_color, 15%);
                        }
                    }
                }
            }

            .eighth_grade_background {
                height: calc(70px * 4.5);
                background-color: $eighth_grade_color;

                p {
                    background-color: darken($eighth_grade_color, 15%);

                    &.active {
                        &:before {
                            border-top: 12px solid darken($eighth_grade_color, 15%);
                        }
                    }
                }
            }

            .ninth_grade_background {
                height: calc(70px * 5);
                background-color: $ninth_grade_color;

                p {
                    background-color: darken($ninth_grade_color, 15%);

                    &.active {
                        &:before {
                            border-top: 12px solid darken($ninth_grade_color, 15%);
                        }
                    }
                }
            }
        }
    }

    .chart_content {
        margin: 40px auto;

        .grade_content {
            padding: 30px;
            border: 1px solid;
            border-radius: 10px;
            background-color: $white;

            p {
                margin-top: 10px;
            }
        }

        .first_grade_content {
            border-color: $first_grade_color;

            h4 {
                color: $first_grade_color;
            }
        }

        .second_grade_content {
            border-color: $second_grade_color;

            h4 {
                color: $second_grade_color;
            }
        }

        .third_grade_content {
            border-color: $third_grade_color;

            h4 {
                color: $third_grade_color;
            }
        }

        .fourth_grade_content {
            border-color: $fourth_grade_color;

            h4 {
                color: $fourth_grade_color;
            }
        }

        .fifth_grade_content {
            border-color: $fifth_grade_color;

            h4 {
                color: $fifth_grade_color;
            }
        }

        .sixth_grade_content {
            border-color: $sixth_grade_color;

            h4 {
                color: $sixth_grade_color;
            }
        }

        .seventh_grade_content {
            border-color: $seventh_grade_color;

            h4 {
                color: $seventh_grade_color;
            }
        }

        .eighth_grade_content {
            border-color: $eighth_grade_color;

            h4 {
                color: $eighth_grade_color;
            }
        }

        .ninth_grade_content {
            border-color: $ninth_grade_color;

            h4 {
                color: $ninth_grade_color;
            }
        }
    }

    .grade_introduce {
        .grade_introduce_button {
            margin: 20px 10px 20px 0px;
            display: inline-block;

            a {
                color: $main_color;
                border: 1px solid $main_color;
                border-radius: 10px;
                padding: 5px 10px;

                &:hover {
                    color: $white;
                    background-color: $main_color;
                }
            }
        }
    }
    
}

.level_correspondence_area {
    margin: 60px auto;

    h3 {
        color: $main_color;
        text-align: center;
        margin: 60px auto;
    }

    .level_correspondence_item {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 0px;
        position: relative;
        padding: 25px;

        .level_correspondence_content {
            flex-basis: 50%;

            .level_correspondence_content_inner {
                display: flex;

                .level_introduction {
                    padding: 10px;
                    background-color: $white;
                    border: 5px solid;
                    border-radius: 10px;
                    position: relative;
                    max-width: 530px;

                    p{
                        display: flex;
                        margin: 5px 0px;

                        span{
                            margin-right: 5px;
                        }
                    }

                    &:before {
                        content: "";
                        width: 0;
                        height: 0;
                        border-right: 10px solid $transparent;
                        border-left: 10px solid $transparent;
                        border-top: 12px solid $transparent;
                        border-bottom: 12px solid $transparent;
                        position: absolute;
                        z-index: -1;
                        top: 50%;
                        transform: translate(0%, -50%);
                    }

                    &.first_grade_introduction {
                        border-color: $first_grade_color;
                        background-color: rgba($first_grade_color, 0.1);

                        h4 {
                            color: darken($first_grade_color, 15%);
                        }
                    }

                    &.second_grade_introduction {
                        border-color: $second_grade_color;
                        background-color: rgba($second_grade_color, 0.1);

                        h4 {
                            color: darken($second_grade_color, 15%);
                        }
                    }

                    &.third_grade_introduction {
                        border-color: $third_grade_color;
                        background-color: rgba($third_grade_color, 0.1);

                        h4 {
                            color: darken($third_grade_color, 15%);
                        }
                    }

                    &.fourth_grade_introduction {
                        border-color: $fourth_grade_color;
                        background-color: rgba($fourth_grade_color, 0.1);

                        h4 {
                            color: darken($fourth_grade_color, 15%);
                        }
                    }

                    &.fifth_grade_introduction {
                        border-color: $fifth_grade_color;
                        background-color: rgba($fifth_grade_color, 0.1);

                        h4 {
                            color: darken($fifth_grade_color, 15%);
                        }
                    }

                    &.sixth_grade_introduction {
                        border-color: $sixth_grade_color;
                        background-color: rgba($sixth_grade_color, 0.1);

                        h4 {
                            color: darken($sixth_grade_color, 15%);
                        }
                    }

                    &.seventh_grade_introduction {
                        border-color: $seventh_grade_color;
                        background-color: rgba($seventh_grade_color, 0.1);

                        h4 {
                            color: darken($seventh_grade_color, 15%);
                        }
                    }

                    &.eighth_grade_introduction {
                        border-color: $eighth_grade_color;
                        background-color: rgba($eighth_grade_color, 0.1);

                        h4 {
                            color: darken($eighth_grade_color, 15%);
                        }
                    }

                    &.ninth_grade_introduction {
                        border-color: $ninth_grade_color;
                        background-color: rgba($ninth_grade_color, 0.1);

                        h4 {
                            color: darken($ninth_grade_color, 15%);
                        }
                    }
                }

                &.right {
                    margin-left: 25px;
                    justify-content: flex-start;
                    position: relative;

                    .level_introduction {

                        &.first_grade_introduction {
                            &::before {
                                border-right: 10px solid $first_grade_color;
                                border-left: 0px solid;
                                left: -15px;
                            }
                        }

                        &.third_grade_introduction {
                            &::before {
                                border-right: 10px solid $third_grade_color;
                                border-left: 0px solid;
                                left: -15px;
                            }
                        }

                        &.fifth_grade_introduction {
                            &::before {
                                border-right: 10px solid $fifth_grade_color;
                                border-left: 0px solid;
                                left: -15px;
                            }
                        }

                        &.seventh_grade_introduction {
                            &::before {
                                border-right: 10px solid $seventh_grade_color;
                                border-left: 0px solid;
                                left: -15px;
                            }
                        }

                        &.ninth_grade_introduction {
                            &::before {
                                border-right: 10px solid $ninth_grade_color;
                                border-left: 0px solid;
                                left: -15px;
                            }
                        }
                    }
                }

                &.left {
                    margin-right: 25px;
                    justify-content: flex-end;

                    .level_introduction {

                        &.second_grade_introduction {
                            &::before {
                                border-left: 10px solid $second_grade_color;
                                border-right: 0px solid;
                                right: -15px;
                            }
                        }

                        &.fourth_grade_introduction {
                            &::before {
                                border-left: 10px solid $fourth_grade_color;
                                border-right: 0px solid;
                                right: -15px;
                            }
                        }

                        &.sixth_grade_introduction {
                            &::before {
                                border-left: 10px solid $sixth_grade_color;
                                border-right: 0px solid;
                                right: -15px;
                            }
                        }

                        &.eighth_grade_introduction {
                            &::before {
                                border-left: 10px solid $eighth_grade_color;
                                border-right: 0px solid;
                                right: -15px;
                            }
                        }
                    }
                }
            }
        }

        &:nth-child(even) {
            .level_correspondence_content {
                .level_correspondence_content_inner {
                    &.left {
                        .level_introduction {
                            border-bottom: 0px;
                            border-top: 0px;
                            border-left: 0px;
                        }
                    }

                    &.right {
                        .level_introduction {
                            border: 0px;
                            background-color: $transparent;
                        }
                    }
                }
            }
        }

        &:nth-child(odd) {
            .level_correspondence_content {
                .level_correspondence_content_inner {
                    &.left {
                        display: flex;
                        justify-content: flex-end;

                        .level_introduction {
                            border: 0px;
                            background-color: $transparent;
                        }
                    }

                    &.right {
                        .level_introduction {
                            border-bottom: 0px;
                            border-top: 0px;
                            border-right: 0px;
                        }


                    }
                }
            }
        }

        .x-timeline-item_meta {
            flex-basis: 50%;
        }
    }
}

.level_correspondence_marker {
    flex-shrink: 0;
    flex-grow: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    &:before {
        position: absolute;
        top: 0;
        bottom: 0px;
        width: 3px;
        content: '';
        background: $main_color;
    }

    &.first_level_correspondence_marker {
        &:before {
            background: $first_grade_color;
        }
    }

    &.second_level_correspondence_marker {
        &:before {
            background: $second_grade_color;
        }
    }

    &.third_level_correspondence_marker {
        &:before {
            background: $third_grade_color;
        }
    }

    &.fourth_level_correspondence_marker {
        &:before {
            background: $fourth_grade_color;
        }
    }

    &.fifth_level_correspondence_marker {
        &:before {
            background: $fifth_grade_color;
        }
    }

    &.sixth_level_correspondence_marker {
        &:before {
            background: $sixth_grade_color;
        }
    }

    &.seventh_level_correspondence_marker {
        &:before {
            background: $seventh_grade_color;
        }
    }

    &.eighth_level_correspondence_marker {
        &:before {
            background: $eighth_grade_color;
        }
    }

    &.ninth_level_correspondence_marker {
        &:before {
            background: $ninth_grade_color;
        }
    }


    .level_correspondence_marker_inner {
        z-index: 2;
        width: 90px;
        line-height: 0;
        position: relative;

        &::after {
            content: "";
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            width: calc(100% + 10px);
            height: calc(100% + 10px);
            border: 3px solid;
            background-color: $body_bg;
            border-radius: 50%;
            z-index: -1;
        }

        p {
            color: $white;
        }

        img {
            border-radius: 50%;
            padding: 5px;
        }

        &.first_grade_marker_inner {
            img {
                background-color: $first_grade_color;
            }

            &::after {
                border-color: $first_grade_color;
            }
        }

        &.second_grade_marker_inner {
            img {
                background-color: $second_grade_color;
            }

            &::after {
                border-color: $second_grade_color;
            }
        }

        &.third_grade_marker_inner {
            img {
                background-color: $third_grade_color;
            }

            &::after {
                border-color: $third_grade_color;
            }
        }

        &.fourth_grade_marker_inner {
            img {
                background-color: $fourth_grade_color;
            }

            &::after {
                border-color: $fourth_grade_color;
            }
        }

        &.fifth_grade_marker_inner {
            img {
                background-color: $fifth_grade_color;
            }

            &::after {
                border-color: $fifth_grade_color;
            }
        }

        &.sixth_grade_marker_inner {
            img {
                background-color: $sixth_grade_color;
            }

            &::after {
                border-color: $sixth_grade_color;
            }
        }

        &.seventh_grade_marker_inner {
            img {
                background-color: $seventh_grade_color;
            }

            &::after {
                border-color: $seventh_grade_color;
            }
        }

        &.eighth_grade_marker_inner {
            img {
                background-color: $eighth_grade_color;
            }

            &::after {
                border-color: $eighth_grade_color;
            }
        }

        &.ninth_grade_marker_inner {
            img {
                background-color: $ninth_grade_color;
            }

            &::after {
                border-color: $ninth_grade_color;
            }
        }
    }
}

.grade_information_modal{
    width: 80%;
    max-width: 1024px;
    background-color: $body_bg;

    h3{
        color: $brown;
        margin-bottom: 10px;
    }

    // background-color: $circus_blue;
    // max-height: 80vh;
    // padding: 5px 0px;
    .lightbulb_bg{
    //     background-color: $circus_blue;
    //     background-image: url(../image/svg/lightbulb.svg);
    //     background-repeat: space;
    //     background-size: 25px 25px;
    //     background-position: center center;
        padding: 25px;
    //     border-radius: 10px;
    //     max-height: calc(80vh - 10px);

    //     .grade_introduction{
    //         background-color: $white;
    //         border: 10px solid #B83A26;
    //         border-radius: 10px;
    //         padding: 25px;
    //         padding: 25px;
    //         max-height: calc(80vh - 60px);
    //         overflow: auto;
    
    //         &::-webkit-scrollbar {
    //             background: transparent;
    //             height: 3px;
    //             width: 5px;
    //         }
        
    //         &::-webkit-scrollbar-thumb {
    //             border: none;
    //             box-shadow: none;
    //             background: $main_color;
    //             border-radius: 10px;
    //             min-height: 20px;
    //         }
        
    //         &::-webkit-scrollbar-track {
    //             margin: 3px 0;
    //         }
    //     }
    }

    // .decorative_figure{
    //     position: absolute;
    //     z-index: -1;
    //     top: 50%;
    //     width: 15%;

    //     &.modal_stationery_right{
    //         right: 0;
            
    //         transform: translate(75%, -50%);
            
    //     }

    //     &.modal_rides_left{
    //         left: 0;
    //         transform: translate(-75% , -50%);
    //     }
    // }
    

}

@media screen and (max-width: 1200px){
    .level_correspondence_area {
        margin: 40px auto;

        h3 {
            margin: 40px auto;
            text-align: left;
        }

        .level_correspondence_item {
            margin-bottom: 40px;
            flex-direction: column;
            padding: 0 0 0 25px;

            .level_correspondence_content {
                flex-basis: 100%;
                width: calc(100% - 75px);
                margin-left: 75px;

                .level_correspondence_content_inner {
                    flex-direction: column;

                    .level_introduction {
                        border: 3px solid;
                        max-width: none;

                        &::before {
                            top: 0;
                        }
                    }

                    &.right {
                        margin-left: 0px;

                        .level_introduction {

                            &.first_grade_introduction {
                                &::before {
                                    border-right: 0px solid $first_grade_color;
                                }
                            }

                            &.third_grade_introduction {
                                &::before {
                                    border-right: 0px solid $third_grade_color;
                                }
                            }

                            &.fifth_grade_introduction {
                                &::before {
                                    border-right: 0px solid $fifth_grade_color;
                                }
                            }

                            &.seventh_grade_introduction {
                                &::before {
                                    border-right: 0px solid $seventh_grade_color;
                                }
                            }

                            &.ninth_grade_introduction {
                                &::before {
                                    border-right: 0px solid $ninth_grade_color;
                                }
                            }

                            &.second_grade_introduction {
                                &::before {
                                    border-right: 10px solid $second_grade_color;
                                    border-left: 0px solid;
                                    left: -13px;
                                    top: calc(75px / 2);
                                }
                            }

                            &.fourth_grade_introduction {
                                &::before {
                                    border-right: 10px solid $fourth_grade_color;
                                    border-left: 0px solid;
                                    left: -13px;
                                    top: calc(75px / 2);
                                }
                            }

                            &.sixth_grade_introduction {
                                &::before {
                                    border-right: 10px solid $sixth_grade_color;
                                    border-left: 0px solid;
                                    left: -13px;
                                    top: calc(75px / 2);
                                }
                            }

                            &.eighth_grade_introduction {
                                &::before {
                                    border-right: 10px solid $eighth_grade_color;
                                    border-left: 0px solid;
                                    left: -13px;
                                    top: calc(75px / 2);
                                }
                            }
                        }
                    }

                    &.left {
                        margin-right: 0px;



                        .level_introduction {

                            &.first_grade_introduction {
                                &::before {
                                    border-right: 10px solid $first_grade_color;
                                    border-left: 0px solid;
                                    left: -13px;
                                    top: calc(75px / 2);
                                }
                            }

                            &.third_grade_introduction {
                                &::before {
                                    border-right: 10px solid $third_grade_color;
                                    border-left: 0px solid;
                                    left: -13px;
                                    top: calc(75px / 2);
                                }
                            }

                            &.fifth_grade_introduction {
                                &::before {
                                    border-right: 10px solid $fifth_grade_color;
                                    border-left: 0px solid;
                                    left: -13px;
                                    top: calc(75px / 2);
                                }
                            }

                            &.seventh_grade_introduction {
                                &::before {
                                    border-right: 10px solid $seventh_grade_color;
                                    border-left: 0px solid;
                                    left: -13px;
                                    top: calc(75px / 2);
                                }
                            }

                            &.ninth_grade_introduction {
                                &::before {
                                    border-right: 10px solid $ninth_grade_color;
                                    border-left: 0px solid;
                                    left: -13px;
                                    top: calc(75px / 2);
                                }
                            }

                            &.second_grade_introduction {
                                &::before {
                                    border-left: 0px solid;
                                }
                            }

                            &.fourth_grade_introduction {
                                &::before {
                                    border-left: 0px solid;
                                }
                            }

                            &.sixth_grade_introduction {
                                &::before {
                                    border-left: 0px solid;
                                }
                            }

                            &.eighth_grade_introduction {
                                &::before {
                                    border-left: 0px solid;
                                }
                            }
                        }
                    }
                }
            }

            &:nth-child(even) {
                .level_correspondence_content {
                    &:nth-child(1) {
                        order: 2;
                    }

                    .level_correspondence_content_inner {
                        &.left {
                            .level_introduction {
                                border-left: 3px solid;
                                border-right: 0px;
                                border-radius: 0px 0px 10px 10px;

                                &.first_grade_introduction {
                                    border-color: $first_grade_color;
                                    background-color: rgba($first_grade_color, 0.1);
                                }

                                &.second_grade_introduction {
                                    border-color: $second_grade_color;
                                    background-color: rgba($second_grade_color, 0.1);
                                }

                                &.third_grade_introduction {
                                    border-color: $third_grade_color;
                                    background-color: rgba($third_grade_color, 0.1);
                                }

                                &.fourth_grade_introduction {
                                    border-color: $fourth_grade_color;
                                    background-color: rgba($fourth_grade_color, 0.1);
                                }

                                &.fifth_grade_introduction {
                                    border-color: $fifth_grade_color;
                                    background-color: rgba($fifth_grade_color, 0.1);
                                }

                                &.sixth_grade_introduction {
                                    border-color: $sixth_grade_color;
                                    background-color: rgba($sixth_grade_color, 0.1);
                                }

                                &.seventh_grade_introduction {
                                    border-color: $seventh_grade_color;
                                    background-color: rgba($seventh_grade_color, 0.1);
                                }

                                &.eighth_grade_introduction {
                                    border-color: $eighth_grade_color;
                                    background-color: rgba($eighth_grade_color, 0.1);
                                }

                                &.ninth_grade_introduction {
                                    border-color: $ninth_grade_color;
                                    background-color: rgba($ninth_grade_color, 0.1);
                                }

                            }
                        }

                        &.right {
                            .level_introduction {
                                border-left: 3px solid;
                                border-radius: 10px 10px 0px 0px;

                                &.first_grade_introduction {
                                    border-color: $first_grade_color;
                                    background-color: rgba($first_grade_color, 0.1);
                                }

                                &.second_grade_introduction {
                                    border-color: $second_grade_color;
                                    background-color: rgba($second_grade_color, 0.1);
                                }

                                &.third_grade_introduction {
                                    border-color: $third_grade_color;
                                    background-color: rgba($third_grade_color, 0.1);
                                }

                                &.fourth_grade_introduction {
                                    border-color: $fourth_grade_color;
                                    background-color: rgba($fourth_grade_color, 0.1);
                                }

                                &.fifth_grade_introduction {
                                    border-color: $fifth_grade_color;
                                    background-color: rgba($fifth_grade_color, 0.1);
                                }

                                &.sixth_grade_introduction {
                                    border-color: $sixth_grade_color;
                                    background-color: rgba($sixth_grade_color, 0.1);
                                }

                                &.seventh_grade_introduction {
                                    border-color: $seventh_grade_color;
                                    background-color: rgba($seventh_grade_color, 0.1);
                                }

                                &.eighth_grade_introduction {
                                    border-color: $eighth_grade_color;
                                    background-color: rgba($eighth_grade_color, 0.1);
                                }

                                &.ninth_grade_introduction {
                                    border-color: $ninth_grade_color;
                                    background-color: rgba($ninth_grade_color, 0.1);
                                }
                            }
                        }
                    }
                }
            }

            &:nth-child(odd) {
                .level_correspondence_content {
                    .level_correspondence_content_inner {
                        &.left {
                            display: flex;
                            justify-content: flex-end;

                            .level_introduction {
                                border-left: 3px solid;
                                border-radius: 10px 10px 0px 0px;

                                &.first_grade_introduction {
                                    border-color: $first_grade_color;
                                    background-color: rgba($first_grade_color, 0.1);
                                }

                                &.second_grade_introduction {
                                    border-color: $second_grade_color;
                                    background-color: rgba($second_grade_color, 0.1);
                                }

                                &.third_grade_introduction {
                                    border-color: $third_grade_color;
                                    background-color: rgba($third_grade_color, 0.1);
                                }

                                &.fourth_grade_introduction {
                                    border-color: $fourth_grade_color;
                                    background-color: rgba($fourth_grade_color, 0.1);
                                }

                                &.fifth_grade_introduction {
                                    border-color: $fifth_grade_color;
                                    background-color: rgba($fifth_grade_color, 0.1);
                                }

                                &.sixth_grade_introduction {
                                    border-color: $sixth_grade_color;
                                    background-color: rgba($sixth_grade_color, 0.1);
                                }

                                &.seventh_grade_introduction {
                                    border-color: $seventh_grade_color;
                                    background-color: rgba($seventh_grade_color, 0.1);
                                }

                                &.eighth_grade_introduction {
                                    border-color: $eighth_grade_color;
                                    background-color: rgba($eighth_grade_color, 0.1);
                                }

                                &.ninth_grade_introduction {
                                    border-color: $ninth_grade_color;
                                    background-color: rgba($ninth_grade_color, 0.1);
                                }
                            }
                        }

                        &.right {
                            .level_introduction {
                                border-radius: 0px 0px 10px 10px;
                                border-bottom: 0px;
                                border-top: 0px;
                                border-right: 0px;
                            }
                        }
                    }
                }
            }

        }
    }

    .level_correspondence_marker {
        position: absolute;
        left: 0;
        height: 100%;
        top: 0;
        align-items: flex-start;

        &::before {
            bottom: -40px;
        }

        .level_correspondence_marker_inner {
            width: 75px;
        }
    }
}

@media screen and (max-width: 1024px){
    .main.grade {
        .chart_area {
            .chart {
                flex-direction: column;
                align-items: flex-start;

                .bar {
                    width: 100%;
                    height: 40px;
                    border-radius: 0px 10px 10px 0px;
                    margin: 10px 0px;

                    p {
                        position: relative;
                        width: 85px;
                        height: 40px;
                        padding: 8px;

                        &:before {
                            display: none;
                        }
                    }
                }

                .first_grade_background {
                    width: calc(100% / 10 * 6);
                }

                .second_grade_background {
                    width: calc(100% / 10 * 6.5);
                }

                .third_grade_background {
                    width: calc(100% / 10 * 7);
                }

                .fourth_grade_background {
                    width: calc(100% / 10 * 7.5);
                }

                .fifth_grade_background {
                    width: calc(100% / 10 * 8);
                }

                .sixth_grade_background {
                    width: calc(100% / 10 * 8.5);
                }

                .seventh_grade_background {
                    width: calc(100% / 10 * 9);
                }

                .eighth_grade_background {
                    width: calc(100% / 10 * 9.5);
                }

                .ninth_grade_background {
                    width: calc(100% / 10 * 10);
                }
            }
        }

        .chart_content {
            margin: 30px auto;

            .grade_content {
                padding: 15px;

            }
        }

    }
}

@media screen and (max-width: 768px){
    .main.grade {
        width: 80%;

        .chart_content {
            margin: 20px auto;
        }

        .grade_introduce {
            .grade_introduce_button {

                a {
                    color: $main_color;
                    border: 1px solid $main_color;
                    border-radius: 10px;
                    padding: 5px 10px;

                    &:hover {
                        color: $white;
                        background-color: $main_color;
                    }
                }
            }
        }
    }

    .level_correspondence_area {
        margin: 20px auto;

        h3 {
            margin: 20px auto;
        }

        .level_correspondence_item {

            .level_correspondence_content {
                width: calc(100% - 50px);
                margin-left: 50px;

                .level_correspondence_content_inner {

                    &.right {
                        margin-left: 0px;

                        .level_introduction {

                            &.second_grade_introduction {
                                &::before {
                                    top: calc(50px / 2);
                                    left: -11px;
                                }
                            }

                            &.fourth_grade_introduction {
                                &::before {
                                    top: calc(50px / 2);
                                    left: -11px;
                                }
                            }

                            &.sixth_grade_introduction {
                                &::before {
                                    top: calc(50px / 2);
                                    left: -11px;
                                }
                            }

                            &.eighth_grade_introduction {
                                &::before {
                                    top: calc(50px / 2);
                                    left: -11px;
                                }
                            }
                        }
                    }

                    &.left {

                        .level_introduction {
                            &.first_grade_introduction {
                                &::before {
                                    top: calc(50px / 2);
                                    left: -11px;
                                }
                            }

                            &.third_grade_introduction {
                                &::before {
                                    top: calc(50px / 2);
                                    left: -11px;
                                }
                            }

                            &.fifth_grade_introduction {
                                &::before {
                                    top: calc(50px / 2);
                                    left: -11px;
                                }
                            }

                            &.seventh_grade_introduction {
                                &::before {
                                    top: calc(50px / 2);
                                    left: -11px;
                                }
                            }

                            &.ninth_grade_introduction {
                                &::before {
                                    top: calc(50px / 2);
                                    left: -11px;
                                }
                            }
                        }
                    }
                }
            }   
        }
    }

    .level_correspondence_marker {

        &::before {
            width: 1.5px;
        }

        .level_correspondence_marker_inner {
            width: 50px;

            img {
                padding: 3px;
            }

            &:after {
                width: calc(100% + 5px);
                height: calc(100% + 5px);
                border: 1.5px solid;
            }
        }
    }
}

@media screen and (max-width: 499px){
    .main.grade {
        width: 80%;

        .chart_content {
            margin: 20px auto;
        }

        .grade_introduce {
            .grade_introduce_button {

                a {
                    color: $main_color;
                    border: 1px solid $main_color;
                    border-radius: 10px;
                    padding: 5px 10px;

                    &:hover {
                        color: $white;
                        background-color: $main_color;
                    }
                }
            }
        }

    }

    .level_correspondence_area {

        .level_correspondence_item {

            .level_correspondence_content {
                width: calc(100% - 35px);
                margin-left: 35px;

                .level_correspondence_content_inner {

                    &.right {
                        margin-left: 0px;

                        .level_introduction {

                            &.second_grade_introduction {
                                &::before {
                                    top: calc(35px / 2);
                                }
                            }

                            &.fourth_grade_introduction {
                                &::before {
                                    top: calc(35px / 2);
                                }
                            }

                            &.sixth_grade_introduction {
                                &::before {
                                    top: calc(35px / 2);
                                }
                            }

                            &.eighth_grade_introduction {
                                &::before {
                                    top: calc(35px / 2);
                                }
                            }
                        }
                    }

                    &.left {

                        .level_introduction {
                            &.first_grade_introduction {
                                &::before {
                                    top: calc(35px / 2);
                                }
                            }

                            &.third_grade_introduction {
                                &::before {
                                    top: calc(35px / 2);
                                }
                            }

                            &.fifth_grade_introduction {
                                &::before {
                                    top: calc(35px / 2);
                                }
                            }

                            &.seventh_grade_introduction {
                                &::before {
                                    top: calc(35px / 2);
                                }
                            }

                            &.ninth_grade_introduction {
                                &::before {
                                    top: calc(35px / 2);
                                }
                            }
                        }
                    }
                }
            }        
        }
    }

    .level_correspondence_marker {
        .level_correspondence_marker_inner {
            width: 35px;
        }
    }
}