.slide_index {
    .slide_index_text {
        position: absolute;
        left: 60px;
        bottom: 40px;
        width: calc(90% - 80px);

        img {
            width: 80%;
            max-width: 600px;
            margin-top: 15px;
        }

        p {
            font-size: 35px;
            color: $white;
            line-height: 1.5;
            text-shadow: $black 0.1em 0.1em 0.2em;
            font-weight: bold;
        }

        // &.slide_index_2{
        //     top: 35px;
        //     bottom: inherit;
        //     left: 50%;
        //     transform: translate(-50% , 0%);
        //     p{
        //         text-shadow: $black 0em 0em 0.5em;
        //     }
        // }

        &.slide_index_3 {
            top: 50%;
            bottom: initial;
            transform: translate(0px, -25%);

            h4 {
                font-size: 45px;
                color: $white;
                text-shadow: $black 0.1em 0.1em 0.2em;
            }

            p {
                font-weight: 300;
            }
        }
    }
}

.three_item {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    margin: 0px auto 130px;

    .project {
        display: flex;
        position: relative;
        width: 100%;
        margin: 150px auto;

        .project_num {
            font-size: 150px;
            font-weight: bold;
            position: absolute;
            z-index: 1;
            left: 0%;
            top: 0%;
            transform: translate(25%, -55%);
            -webkit-text-stroke: 2px $main_color;
            color: $white;
        }

        .project_img {
            width: 70%;
            position: relative;
            line-height: 0;

            &::before {
                content: "";
                position: absolute;
                width: calc(100% + 15px);
                height: calc(100% + 15px);
                border: 2.5px solid $main_color;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
            }
        }

        .project_text {
            background-color: $main_color;
            position: absolute;
            bottom: 50px;
            left: 65%;
            width: 35%;
            max-width: 400px;

            h4 {
                padding: 5px 10px;
                color: $white;
                font-size: 42px;
            }

            p {
                padding: 5px 10px;
                color: $white;
                font-size: 25px;
            }
        }
    }

    .project:nth-child(even) {
        .project_img {
            margin: 0 0 0 auto;
        }

        .project_text {
            left: auto;
            right: 65%;
            width: 35%;
            max-width: 400px;
        }

        .project_num {
            right: 0;
            left: auto;
            transform: translate(-25%, -55%);
        }

    }


}

.best_book {
    width: 80%;
    margin: 0px auto 130px;

    h3 {
        color: $main_color;
        text-align: center;
        margin-bottom: 40px;
    }

    .audio_icon {
        background-image: url(../image/svg/sound.svg);
        background-size: 20px;
        background-repeat: no-repeat;
        background-position: center;
        background-color: $main_color;
        width: 30px;
        height: 30px;
        position: absolute;
        z-index: 1;
        right: 0;
        top: 0;
        border-radius: 0px 10px 0px 10px;
    }

    .try_icon {
        background-image: url(../image/svg/try.svg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        width: 30px;
        height: 30px;
        position: absolute;
        z-index: 1;
        right: 10px;
        bottom: 10px;
        border-radius: 0px 10px 0px 10px;
    }

    .swiper {
        width: 100%;
        height: 100%;

        .swiper-wrapper{
            display: flex;
            .swiper-slide {
                position: relative;
                background: $white;
                display: flex;
                flex-direction: column;
                align-items: center;
                border-radius: 10px;
                overflow: hidden;
                transform: scale(0.95);
                @extend %boxShadow_gray;
    
                &:hover {
                    transform: scale(0.98);
                }
    
                .swiper-slide {
                    img {
                        display: block;
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
    
                .book_content {
                    width: 80%;
                    margin: 0px auto;
                    padding: 15px 0px;
    
                    h4 {
                        color: $brown;
                        overflow: hidden;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                        display: -webkit-box;
                        -webkit-line-clamp: 2;
                        -webkit-box-orient: vertical;
                        white-space: normal;
                        width: 100%;
                        height: 60px;
                        margin-bottom: 8px;
                    }
                }
            }
        }

    }

    .swiper-pagination {
        position: relative;
        margin-top: 15px;
    }
}

.book_information_modal {
    border-radius: 0px;
    // background: repeating-linear-gradient(60deg, $main_yellow_color, $main_yellow_color 5%, $main_color 0, $main_color 10%);
    background-color: $main_yellow_color;
    padding: 0;
    width: 80%;
    max-width: 1024px;

    .book_introduction {
        display: flex;
        justify-content: space-between;
        position: relative;

        .book_introduction_left {
            width: 35%;
            background-color: $main_yellow_color;
            padding: 15px;
            border-right: 5px dotted $white;

            .modal_book_img {
                display: flex;
                justify-content: center;
                position: relative;
                width: auto;
                max-width: 280px;
                height: auto;
                max-height: 280px;
                margin: 0 auto;

                img {
                    border-radius: 10px;
                    object-fit: cover;
                }

                .audio_icon {
                    background-image: url(../image/svg/sound.svg);
                    background-size: 20px;
                    background-repeat: no-repeat;
                    background-position: center;
                    background-color: $main_color;
                    width: 30px;
                    height: 30px;
                    position: absolute;
                    z-index: 1;
                    right: 0;
                    top: 0;
                    border-radius: 0px 10px 0px 10px;
                }
            }

            .book_introduction_top_border {
                display: none;
            }
        }

        .book_introduction_right {
            width: calc(65% - 16%);
            background-color: #ede8d2;
            margin: 15px auto;
            padding: 15px;
            position: relative;
            display: flex;
            align-items: center;

            .introduction_content {
                max-height: 250px;
                overflow-y: auto;
                width: 100%;
                height: 100%;

                &::-webkit-scrollbar {
                    background: transparent;
                    height: 3px;
                    width: 5px;
                }

                &::-webkit-scrollbar-thumb {
                    border: none;
                    box-shadow: none;
                    background: $main_color;
                    border-radius: 10px;
                    min-height: 20px;
                }

                &::-webkit-scrollbar-track {
                    margin: 3px 0;
                }
            }

            .modal_book_button {
                margin: 20px 0px 0px;

                a {
                    color: $main_color;
                    border: 1px solid $main_color;
                    border-radius: 10px;
                    padding: 5px 10px;

                    &:hover {
                        color: $white;
                        background-color: $main_color;
                    }
                }
            }

            .book_introduction_left_border {
                position: absolute;
                left: 5px;
                top: 0;
                transform: translate(-100%, 0%);
                height: 100%;

                img {
                    height: 100%;
                    width: auto;
                }
            }

            .book_introduction_right_border {
                position: absolute;
                right: 5px;
                top: 0;
                transform: translate(100%, 0%);
                height: 100%;

                img {
                    height: 100%;
                    width: auto;
                    transform: rotate(180deg);
                }
            }

            .book_introduction_bottom_border {
                display: none;
            }
        }
    }

    .modal_wave_line {
        position: absolute;
        top: 0;
        height: 100%;
        display: flex;
        width: 5px;
        background-color: $main_yellow_color;

        &.modal_wave_line_left {
            left: -5px;
        }

        &.modal_wave_line_right {
            right: -5px;
            transform: rotate(180deg);
        }

        .modal_wave_line_internal {
            height: 100%;
            width: 100%;
            background: radial-gradient(circle at 0 50%, rgba(0, 0, 0, 0.75) 50%, $main_yellow_color 0);
            background-size: 0.3rem 0.7rem;
            background-repeat: repeat-y;
        }

    }

    a.close-modal {
        right: -17.5px;
    }
}

.blocker {
    z-index: 11;
}

@media screen and (max-width: 1200px){
    .slide_index {
        .slide_index_text {
            p {
                font-size: 29px;
            }

            img {
                width: 45%;
            }

            // &.slide_index_2{
            //     top: 30px;
            // }

            &.slide_index_3 {
                h4 {
                    font-size: 40px;
                }

            }
        }
    }

    .three_item {
        .project {
            margin: 120px auto;

            .project_num {
                font-size: 100px;
            }

            .project_img {
                width: 70%;
                position: relative;
            }

            .project_text {
                left: 60%;
                width: 40%;
                max-width: none;

                h4 {
                    font-size: 35px;
                }
            }
        }

        .project:nth-child(even) {

            .project_text {
                right: 60%;
                width: 40%;
                max-width: none;
            }

        }


    }
}

@media screen and (max-width: 1024px){
    .slide_index {
        .slide_index_text {
            p {
                font-size: 21px;
            }

            img {
                width: 35%;
            }

            // &.slide_index_2{
            //     top: 20px;
            // }

            &.slide_index_3 {
                h4 {
                    font-size: 32px;
                }

            }
        }
    }

    .three_item {
        .project {

            .project_img {
                width: 100%;
            }

            .project_text {
                right: 0;
                width: 60%;
                bottom: auto;
                top: 100%;
                transform: translate(30px, -50%);
                left: auto;

                h4 {
                    font-size: 30px;
                }
            }
        }

        .project:nth-child(even) {
            .project_img {
                margin: 0 auto;
            }

            .project_text {
                right: 0;
                width: 60%;
                bottom: auto;
                top: 100%;
                transform: translate(30px, -50%);
                left: auto;
                ;
            }

            .project_num {
                left: 0%;
                right: auto;
                transform: translate(25%, -55%);
            }

        }


    }

    .best_book {
        margin: 0 auto 60px;

        .swiper {
            .swiper-wrapper{
                .swiper-slide {        
                    .book_content {
                        h4 {
                            height: 55px;
                            margin-bottom: 15px;
                        }
                    }
                }
            }
        }
            
    }

    }



@media screen and (max-width: 768px){
    .slide_index {
        .slide_index_text {
            bottom: 20px;
            left: 35px;
            width: calc(100% - 100px);

            p {
                font-size: 15px;
            }

            // &.slide_index_2{
            //     top: 10px;
            // }

            &.slide_index_3 {
                transform: translate(0%, -50%);

                h4 {
                    font-size: 20px;
                }

            }
        }
    }

    .three_item {
        .project {
            margin: 120px auto;

            .project_num {
                font-size: 75px;
                transform: translate(10%, -60%);
                -webkit-text-stroke: 1.5px $main_color;
            }

            .project_img {
                width: 100%;

                &:before {
                    width: calc(100% + 10px);
                    height: calc(100% + 10px);
                    border: 1.5px solid $main_color;
                }
            }

            .project_text {
                width: 90%;
                transform: translate(20px, -50%);

                h4 {
                    font-size: 25px;
                }
            }
        }

        .project:nth-child(even) {

            .project_text {
                width: 90%;
                transform: translate(20px, -50%);
            }

            .project_num {
                font-size: 75px;
                transform: translate(10%, -60%);
            }
        }
    }

    .best_book {

        .swiper {
            .swiper-wrapper{
                .swiper-slide {        
                    .book_content {
                        h4 {
                            height: 51.66px;
                            margin-bottom: 5px;
                        }
                    }
                }
            }
        }
            
    }

    .book_information_modal {
        background: repeating-linear-gradient(60deg, $main_yellow_color, $main_yellow_color 5%, $main_color 0, $main_color 10%);
        padding: 15% 0px;

        .book_introduction {
            flex-direction: column;
            width: 90%;
            margin: 0 auto;

            .book_introduction_left {
                width: 100%;
                background-color: #ede8d2;
                border-right: 0px dotted $white;
                position: relative;

                .modal_book_img {
                    max-width: 100%;
                    max-height: 200px;

                    .audio_icon {
                        background-size: 15px;
                        width: 25px;
                        height: 25px;
                    }
                }

                .book_introduction_top_border {
                    display: block;
                    position: absolute;
                    left: 0px;
                    top: 0px;
                    transform: translate(0%, -100%);
                    width: 100%;
                    line-height: 0;
                }

            }

            .book_introduction_right {
                width: 100%;
                margin: 0px auto;
                border-top: 2px dotted $brown;

                .introduction_content {
                    width: 80%;
                    margin: 0 auto;
                    max-height: none;
                    overflow-y: initial;
                }

                .modal_book_button {
                    margin: 10px 0px 0px;
                }

                .book_introduction_right_border,
                .book_introduction_left_border {
                    display: none;
                }

                .book_introduction_bottom_border {
                    display: block;
                    position: absolute;
                    left: 0px;
                    bottom: 0px;
                    transform: translate(0%, 100%) rotate(180deg);
                    width: 100%;
                    line-height: 0;
                }
            }

        }

    }
}

@media screen and (max-width: 499px){
    .slide_index {
        .slide_index_text {
            bottom: 20px;
            left: 30px;
            width: calc(100% - 60px);

            p {
                font-size: 12px;
            }

            // &.slide_index_2{
            //     top: 5px;
            // }

            &.slide_index_3 {
                h4 {
                    font-size: 16px;
                }

            }
        }
    }

    .best_book {

        .swiper {
            .swiper-wrapper{
                .swiper-slide {        
                    .book_content {
                        h4 {
                            height: 49.98px;
                        }
                    }
                }
            }
        }
            
    }
}