.main.grade_map {

    .map_object {

        .map_object_item {
            .map_object_item_bg {
                width: 100%;
                position: absolute;

                &.item_bg_cloud {
                    bottom: 95%;
                }

                &.item_bg_grassland {
                    bottom: 50%;
                }
            }

            .map_object_item_project {
                width: calc(100% / 5);
                position: absolute;
                transform: scale(0.9);

                &.item_project_first_grade {
                    bottom: 25%;
                    left: 0;
                }

                &.item_project_second_grade {
                    bottom: 20%;
                    left: calc(100% / 5 / 2);
                    z-index: 1;
                }

                &.item_project_third_grade {
                    bottom: 25%;
                    left: calc(100% / 5);
                }

                &.item_project_fourth_grade {
                    bottom: 25%;
                    left: calc(100% / 5 * 2);
                }

                &.item_project_fifth_grade {
                    bottom: 20%;
                    left: calc(100% / 5 * 2.5);
                    z-index: 1;
                }

                &.item_project_sixth_grade {
                    bottom: 25%;
                    left: calc(100% / 5 * 3 + 2%);
                }

                &.item_project_seventh_grade {
                    bottom: 20%;
                    left: calc(100% / 5 * 3.5);
                    z-index: 1;
                }

                &.item_project_eighth_grade {
                    bottom: 25%;
                    left: calc(100% / 5 * 4);
                }

                &.item_project_ninth_grade {
                    bottom: 60%;
                    right: 5%;
                    ;
                }

                &:hover {
                    transform: scale(1);
                }

                img {
                    position: relative;
                    top: auto;
                    left: auto;
                }
            }

        }
    }

    .map_book_area {

        .book_area {
            @extend %max1200;
            margin: 80px auto 0px;
        }
    }

}

@media screen and (max-width: 1200px){
}

@media screen and (max-width: 1024px){
}

@media screen and (max-width: 768px){
}

@media screen and (max-width: 499px){
}