$header_bg: #FFE4D1;
$body_bg: #EFE8E0;
$footer_bg: #F2F2F2;
$brown: #5B3716;
$main_color: #E54F4F;
$main_green_color: #abc564;
$main_blue_color: #53c1e2;
$main_yellow_color: #f6d367;
$transparent:transparent;
$white: #fff;
$black:black;
$grey: grey;
$first_grade_color:$main_color;
$second_grade_color:#EB772A;
$third_grade_color:#F3BA03;
$fourth_grade_color:#8DA429;
$fifth_grade_color:#00AD5E;
$sixth_grade_color:#00B1B9;
$seventh_grade_color:#0163C6;
$eighth_grade_color:#4F1AC4;
$ninth_grade_color:#8400A1;
$map_first_grade_bg:#c4cc23;
$map_first_grade_header_bg:#cdffff;
$circus_blue:#004981;
$circus_red:#e71619;
$ticket_bg:#e3cea5;