// owlcarousel 票券輪播開始
.owl-prev,
.owl-next {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: $body_bg !important;
    @extend %boxShadow_gray;
    position: absolute;
    top: 50%;

    &:hover {
        background-color: $main_color !important;

        .owl_arrow {
            color: $white;
        }
    }

    .owl_arrow {
        font-size: 25px;
        color: $brown;
    }
}

.owl-prev {
    left: 0;
    transform: translate(-50%, -50%);
}

.owl-next {
    right: 0;
    transform: translate(50%, -50%);
}

.owl-next.disabled,
.owl-prev.disabled {
    display: none;
}
// owlcarousel 票券輪播結束

@media screen and (max-width: 1024px){
    .owl-prev,
    .owl-next {
        width: 40px;
        height: 40px;

        .owl_arrow {
            font-size: 20px;
        }
    }
}

@media screen and (max-width: 768px){
    .owl-prev,
    .owl-next {
        width: 30px;
        height: 30px;

        .owl_arrow {
            font-size: 18px;
        }
    }
}

